.root {
	display: flex;
	justify-content: center;
	padding-top: 40px;
	font-size: 30px;
}

.section {
	margin-bottom: 30px;
}

.card {
	padding: 10px 0;
	height: 200px;
	width: 300px;
	border: 1px solid grey;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
