.root {
	display: flex;
	justify-content: center;
	padding-top: 30px;
}

.titleColumn {
	padding: 5px 10px;
	text-align: center;
}

.orderColumn {
	text-align: center;
	padding: 5px 10px;
}

.table {
	border: 1px solid grey;
	border-radius: 10px;
}

.titleRow {
}

.tableHead {
}

.buy {
	color: green;
}

.sell {
	color: red;
}
